p {
    text-align: center;
    position: absolute;
    bottom: 80%;
    right: 27%;
    font-family: 'Times New Roman', Times, serif;
    font-weight:400 ;
}

.notification input[type="submit"] {
    position: absolute;
    bottom: 50%;
    right: 50%;
    border: 2px solid #eb7a09;
    background: none;
    padding: 5px 10px;
    color: black;     
    transition: 0.25s;
    cursor: pointer;    
  }
.notification input[type="submit"]:hover{
    background: #e19f76;
}