html,body {
    width: 100%;
    height: 90%;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    position: relative;
    top: 3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.back{
    position: relative;
    top: 5%;
    left: 20%;
    width: 10px;
    height: 10px;
}

.action{
    position: relative;
    left: 80%;
    width: 10px;
    height: 10px;
}

