h1 {
    text-align: center;
    font-family: "Microsoft YaHei UI";
    font-weight:400 ;
}
.subtitle {
    text-align: center;
    color: #888888;
    font-size: 40px;
}
a {
    text-decoration-line: none;
}
.jubai {
    text-align: center;
    font-size: 30px;
}

.fireworks{
    position: absolute;
    top: 20%;
    left: 10%;
}

.fireworks2{
    position: absolute;
    top: 20%;
    right: 10%;
}

img{
    align-self: start;
    width: 320px;
    height: 320px;
}

.cat{
    align-self: start;
    width: 400px;
    height: 320px;
}

